.btn {
  color: #212529;
  background-color: #FFE133;
  border: 1px solid transparent;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fffa19;
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin-top: 50px;
  margin-bottom: 0px;
}
/*
  
  .raulfooter2 {
      line-height: 1.5;
  }*/
.raulfooter3 {
  text-align: right;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-reserva {
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.icono-de-reserva {
  padding-right: 20px;
  text-align: left;
}
.raulimagen {
  margin: auto;
  width: 100%;
}
